.container {
    margin: auto;
    margin-top: 2em;
    width: 75%;    ;
    /* background-color: #1b1e24; */
    background-color: #5d6269;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(156, 180, 180);
    color: white;
    
    display: flex;
    justify-content: flex-start;
    /* temp */
    /* text-align: center;  */
    padding: 0.5em;
}

.container img {
    max-height: 200px;
    max-width: 200px;
    width: 25%;
    height: auto;
    justify-content: flex-start;
}

.container .description {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
    text-align: justify;
}

.container .specs {
    width: 20%;
    margin-left: 1em;    
}
