@import '../../styles/global.scss';

body {
    background-color: $soft-accent;
}

.container {
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 75px 20vw 50px 32vw;
}

.footerInfo {
    margin-top: 20px;
    color: $black;
    text-align: center;
}