@import '../../styles/global.scss';

.mainDetails {
    letter-spacing: 1px;
    word-spacing: 7px;
}

.thicc {
    font-weight: 600;
}

.description {
    padding-top: 25px;
    letter-spacing: 1px;
}